* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--black: #282d30;
	--orange: #e99700;
	--bg-orange: #fff8d8;
	--bg-grey: #edeae0;
	--grey: #f0efea;
	--white: #f8f8ff;
	--duke-blue: #012169;

	--primary-font: "Poppins";
	--secondary-font: "Montserrat";
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	font-size: var(--primary-font);
}

/* General styles */
header {
	background-color: var(--bg-grey);
	/* background-color: var(--tertiary-color); */
}
.nav-container {
	padding: 0 12rem;

	border: 2px solid red;
}

/* Header */

/* Main */

main {
	background-color: var(--white);

	border: 2px solid red;
}

section {
	padding: 0 12rem;
}

.our-story,
.update {
	background-color: var(--bg-grey);
}

/* Footer */
footer {
	background-color: #06192c;
}
