* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--primary-color: #333;
	--bg-header: #faecfa;
    --button-bg: #fad47c

	--secondary-color: #8c8c8c;
	--blue-gray: #404040;
	--white: #fff;
	--tertiary-color: #d9d9d9;

	--primary-font: "Poppins";
	--secondary-font: "Montserrat";
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	font-size: var(--primary-font);
}
