:root {
  --primary-color: #F9C74F;
  --secondary-color: #FF6B35;
  --heading-color: #2B2B2B;
  --text-color: #6C6C6C;
  --bg-light: #F8F8F8;
  --footer-bg: #0E0E0E;
  --accent-blue: #D4EBF8;
  --bg-dark: #F5F5F4;
  --blue: #ADE0FA;
  --font-primary: 'Poppins', sans-serif;
  --font-secondary: 'Montserrat', sans-serif;
}

*{
    box-sizing: border-box;
}

body{
    font-family: var(--font-primary);
}

h1{
    font-weight: 600;
    font-size: 2rem;
}

h2{
    font-weight: 600;
    font-size: 1rem;
}

h3{
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--text-color);
}

h4{
    font-weight: 500;
    font-size: 0.9rem;
    margin-top: 0;
}




#section1{
    display: grid;
    grid-template-columns: 2fr 1.3fr;
    /* border: 1px solid crimson; */
    width: 70vw;
    height: auto;
    margin: auto;
    gap: 6rem;
    
}

.image1{
    max-width: 100%;
    height: auto;
}

#section2{
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 70vw;
    height: auto;
    margin: 5% auto;
    gap: 6rem;
}

.grid-item1{
    align-content: center;
}

.second-row{
    color: var(--secondary-color);
}

.how{
    width: 40%;
    margin-top: 0;
}
.number-area{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 1rem;
    column-gap: 4rem;
}

.each{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.number{
    display: flex;
    border-radius: 50%;
    padding: 20px;
    width: 50px;
    height: 45px;
    margin: auto;
    justify-content: center;
    align-items: center;
    background-color: var(--blue);
}

.section-bg{
    background-color: var(--bg-dark);
    padding: 5% 0px;
}

#section3{
    display: grid;
    grid-template-columns: 2fr 1.3fr;
    width: 70vw;
    margin: auto;
    gap: 6rem;
    padding-bottom: 5%;
}

.quarter{
    display: grid;
    grid-template-columns: 1.3fr 2fr;
    align-items: center;
    width: 70vw;
    margin: auto;
    gap: 6rem;
}

.row{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    margin-top: 1rem;
}

.row-child{
    display: flex;
    gap: 1rem;
    border-bottom: 1px solid var(--text-color);
    align-items: center;
}

.row-child1{
    width: 80%;
}

.row-child2{
    width: 50%;
}

.icon{
    border-radius: 60%;
    width: 40px;
    height: 40px; 
}

.section-bg .each{
    align-items:flex-start;
}

.third-grid{
    margin-bottom: 3rem;
}

.footnote{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70vw;
    margin: auto;
    padding: 5% 0%;

}

.foot-text{
    width: 30%;
}

.btn{
    display: flex;
    gap: 5px;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    width: auto;
    height: fit-content;
    padding: 15px 20px;
    background-color: var(--primary-color);
}

.arrow{
    width: 20px;
    height: 20px;
}

.btn h4{
    margin-bottom: 0;
}




