* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--black: #282d30;
	--orange: #e99600;
	--bg-orange: #fff8d8;
	--bg-grey: #edeae0;
	--grey: #f0efea;
	--grey-text: #696969;
	--white: #f8f8ff;
	--duke-blue: #012169;
	--red: #ee4b2b;

	--primary-font: "Poppins";
	--secondary-font: "Montserrat";
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.2rem;
	/* font-family: var(--primary-font); */
}

footer {
	background-color: #06192c;
	padding: 4rem 12rem;
	color: var(--white);
	font-size: 1.2rem;
	/* font-family: var(--primary-font); */
}

footer .inner-container {
	display: grid;
	grid-template-columns: 24.8rem repeat(4, 1fr);
	gap: 8rem;
	padding: 0 0 4rem 0;
}

.footer-logo img {
	margin: 2rem 0;
}

.footer-section {
	margin: 4rem 0;
}

.footer-section h5 {
	font-size: 1.6rem;
	margin: 2rem 0;
}

.footer-section li {
	margin: 1.2rem 0;
	list-style: none;
}

.footer-section li a {
	color: var(--white);
	text-decoration: none;
	font-weight: 500;
}

.inner-container + hr + div {
	display: flex;
	justify-content: space-between;
}

footer .social_handles ul {
	display: flex;
	list-style: none;
}

footer .social_handles li a i {
	color: var(--white);
	margin: 0 5.6px;
}

div hr {
	color: var(--bg-grey);
	opacity: 0.2;
	margin: 0 auto;
	margin-bottom: 16px;
}
