* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--black: #282d30;
	--orange: #e99600;
	--bg-orange: #fff8d8;
	--bg-grey: #edeae0;
	--grey: #f0efea;
	--grey-text: #696969;
	--white: #f8f8ff;
	--duke-blue: #012169;
	--red: #ee4b2b;

	--primary-font: "Poppins";
	--secondary-font: "Montserrat";
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.2rem;
	/* font-family: var(--primary-font); */
}

/* General styles */
header {
	background-color: var(--bg-grey);
}

.nav-container {
	padding: 0 12rem;
	display: flex;
}

nav {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}

.info {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: var(--black);
	padding: 4px 0 8px 0;
}

.info + div {
	padding-left: 12px;
}

div hr {
	color: var(--bg-grey);
	opacity: 0.2;
	margin: 0 auto;
	margin-bottom: 16px;
}

.contact {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.contact .icon {
	margin: 0 12px;
}

.contact + div {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.social-icons {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.social-icons li {
	list-style: none;
}

.social-icons li a {
	display: block;
	align-items: center;
	margin: 0 4px;
	color: var(--black);
}

.cta {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 8rem;
}

.cta ul {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 30%;
	margin-left: 12px;
	list-style: none;
}

.cta ul li a {
	text-decoration: none;
	color: var(--black);
	font-weight: 600;
	display: block;
	padding: 4px 8px;
}

.cta button {
	padding: 8px 12px;
	background-color: var(--orange);
	border: none;
	outline: none;
	border-radius: 12px;
	font-weight: 600;
	cursor: pointer;
}

button svg {
	height: 12px;
	width: 12px;
}

.secondary-nav {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 2rem 0 8rem 0;
}

.secondary-nav ul {
	display: flex;
	margin-bottom: 0.4rem;
}

.secondary-nav ul li:last-child {
	font-weight: 600;
}

.secondary-nav ul li {
	margin: 0 8px;
	list-style: none;
}

.secondary-nav ul li a {
	text-decoration: none;
	color: var(--black);
}

.secondary-nav p {
	font-weight: 600;
	font-size: 3.6rem;
	font-family: var(--primary-font);
}