* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: poppins, sans-serif;
}

header {
  background-color: #f5f4f1;
  padding: 10px 30px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
   
}

.head-logo img {
  width: 150px;
  margin-top: -10px;
}

 
.container {
  width: 100%;
}

 
.upper {
  display: flex;
   
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5rem;
  font-size: 14px;
}

.upper p {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #000;
}

.upper img {
  width: 18px;
  height: 18px;
}

.left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.ver {
  border-right: 1px solid rgb(220, 209, 209);
  height: 18px;
}

.socials img {
  width: 18px;
  height: 18px;
  margin-left: 5px;
}
 
.line {
  border-bottom: 1px solid rgb(230, 220, 220);
  width: 100%;
  margin: 10px 0;
}

 
.lower {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

nav ul {
  display: flex;
  gap: 25px;
}

nav li {
  list-style: none;
}

nav a {
  text-decoration: none;
  color: #000;
  font-size: 1.1rem;
  transition: 0.3s;
}

 

  
.get {
 background-color: #F0C85F;
  color: #000;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 10px;
  cursor: pointer; transition: 0.3s;
}


/* nav{
    display: flex;
      gap: 30px;
      


   
}
li{
    
    list-style: none;
   
}

a{
    text-decoration: none;
     color: #000;
     display: flex;
     font-size: 1.2rem;
     
}

.get{
     border: none;
     background-color: #F0C85F;
     border-radius: 20px;
     font-size: 14px;
     font-weight: bold; */



/* .hero {
  background: #F5F4F1;
  display: flex;
  flex-direction: column;
  justify-content: center;  /* vertically center */
  align-items: center;       /* horizontally center */
  height: 14rem;
  text-align: center;
  gap: 10px;                 /* space between all items (p + h1) */
}

.hero p {
  margin: 0;
  font-size: 1rem;
  color: #000;
}

.hero h1 {
  font-size: 3rem;
  color: #000;
} */


.main-body{
    margin-top: 4rem;
    justify-content: center;
}

.text h1{
    font-size: 2.5rem;
    padding: 0 50px;
}

.row-1{
    margin-top: 2rem;
     padding: 0 50px;
     display: flex;
}

.box-1{
    display: block;
    
    
}
.box-1 img{
    width: 93%;
}


.box-1 h1{
    font-size: 1.2rem;
    margin-top: 1rem;
}



.box-1 p{
    margin-top: 1rem;
    line-height: 1.2rem;color: gray;
}

.text-2{
    margin-top: 5rem;
}
.text-2 h1{
    font-size: 2.5rem;
    padding: 0 50px;
}


 